{   
   "server" : "irc.myserver.org",
   "nick" : "MyBot",
   "channels" : ["#MyChan"],
   "admin" : "MyQNick",
   "userName" : "MyBot",
   "realName" : "IRC Bot in Node JS",
   "qName" : "BotQAccount",
   "qPassword" : "changeme",
   "webPort" : "8888",
   "location" : "http://localhost:8888/"
}